body{
    background-image: url('681813.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#form{
   display: flex;
   justify-content: center; 
   margin-top: 10%; 
}
.form-control{
    padding: 50px;
    margin-bottom: 40px;
}

.form-control input{
    margin-bottom: 30px;
    outline: none;
}
#form p{
    display: inline-block;
    margin-left: 20px;
}
#title{
    width: 250px;
    height: 30px;
    opacity: 0.5;
    border-radius: 20px;
    border: solid transparent;
    border-width: 2px;
}
#autor{
    width: 250px;
    height: 30px;
    opacity: 0.5;
    border-radius: 20px;
    border: solid transparent;
    border-width: 2px;
}
#price{
    width: 250px;
    height: 30px;
    opacity: 0.5;
    border-radius: 20px;
    border: solid transparent;
    border-width: 2px;
}
#date{
    width: 250px;
    height: 30px;
    opacity: 0.5;
    border-radius: 20px;
    border: solid transparent;
    border-width: 2px;
}
#lang{
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
    opacity: 0.5;
    border-radius: 20px;
    border: solid transparent;
    border-width: 2px;
}
#type-book label{
    color: white;

}
table{
    color: white;
    border-color: white;
}

